<mat-toolbar color="primary">
    <button mat-icon-button
            class="toggle-menu-button"
            [ngClass]="{ 'mat-button-toggle-checked': showMenu }"
            (click)="showMenu = !showMenu">
      <mat-icon>menu</mat-icon>
    </button>
  <span class="title">Digital Wallet</span>
  <span class="spacer"></span>
  <button mat-icon-button (click)="onHelp$.next()">
    <mat-icon>help</mat-icon>
  </button>
  <button mat-raised-button
          color="primary"
          (click)="onLogout$.next()">Logout</button>
</mat-toolbar>

<mat-sidenav-container #container>
  <mat-sidenav *ngIf="!!user" id="sidenav" mode="side" [opened]="showMenu">
    <mat-radio-group id="sidenav-radio-group" [(ngModel)]="activeListName">

      <mat-list>
        <mat-list-item id="user-info">
          <div id="user-image"
               [ngStyle]="{ 'background': user.color }">{{user.name[0]}}</div>
          <span>{{user.name}}</span>
        </mat-list-item>

        <h1 mat-subheader class="subheader" id="lists-header">
          <mat-icon>insert_drive_file</mat-icon>
          <span>Your todo lists</span>
        </h1>

        <ng-container *ngFor="let listName of todoListNames">
          <mat-radio-button #radioButton [value]="listName" [class.checked]="radioButton.checked">
              <span class="list-name">{{listName}}</span>
              <button mat-icon-button 
                      class="list-delete-button"
                      *ngIf="activeListName === listName"
                      (click)="onDeleteList$.next(listName)">
                  <mat-icon>delete</mat-icon>
              </button>
          </mat-radio-button>
        </ng-container>

        <mat-list-item id="new-list-item" [hidden]="!showNewListNameInput">
          <mat-form-field class="mat-inline-label">
            <input #newListNameInput
                  matInput
                  [(ngModel)]="newListName"
                  (keydown.enter)="newListNameInput.blur()"
                  (blur)="onNewListNameInputBlur$.next()">
          </mat-form-field>
        </mat-list-item>

        <mat-list-item id="add-list-item" [hidden]="showNewListNameInput">
          <button mat-stroked-button 
                  id="add-list-button"
                  [color]="todoListNames.length === 0 ? 'accent' : 'primary'"
                  (click)="onAddList$.next()">
              <mat-icon>add</mat-icon>
          </button>
        </mat-list-item>

      </mat-list>
    </mat-radio-group>
  </mat-sidenav>

  <mat-sidenav-content id="container">
    <ng-container *ngFor="let listName of todoListNames">
      <app-todo-list-view *ngIf="activeListName === listName" 
                          [list]="user.todoLists[listName]"
                          [name]="listName"
                          (listChanged)="onListChanged$.next($event)">
      </app-todo-list-view>
    </ng-container>

    <div [hidden]="activeListName" id="empty-state">
      <mat-icon id="empty-icon">insert_drive_file</mat-icon>
      <span>You have no todo lists</span>
      <span>Click the <mat-icon color="accent">add</mat-icon> button to create your first list</span>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>