:host::ng-deep, mat-sidenav-container {
    overflow: hidden;
    height: 100vh;
}

mat-toolbar {
    display: flex;
    align-items: center;

    .spacer {
        flex-grow: 2;
    }
}

#sidenav {
    width: 15%;

    mat-list {
        padding-top: 0;
    }

    .mat-subheader {
        font-weight: bold;
    }

    #user-info::ng-deep .mat-list-item-content {
        padding-left: 0;
    }

    #user-image {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100px;
        width: 2.4rem;
        height: 2.4rem;
        color: white; // TODO
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: normal;
        margin: 0 0.3rem;
    }

    #lists-header {
        display: flex;
        flex-direction: row;
        align-items: center;

        > mat-icon {
            padding-right: 0.25rem;
            font-size: 22px;
            width: 22px;
            height: 22px;
        }
    }

    #add-list-item {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 0.5rem;
    }

    #add-list-button {
        border-radius: 100px;
    }
}

#sidenav-radio-group mat-radio-button {
    width: 100%;
    padding: 0.7rem;

    &::ng-deep .mat-radio-container {
        display: none;
    }

    &::ng-deep label {
        width: 100%;

        & .mat-radio-label-content {
            text-overflow: ellipsis;
        }
    }

    &.mat-radio-checked {
        background: #3f51b5;
        color: white;
        font-weight: bold;
    }
}

mat-list-item[hidden] {
    display: none !important;
}

#container {
    
    #empty-state {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 1.5em;
        color: #999;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        &[hidden] {
            display: none;
        }

        > * {
            padding-bottom: 0.2em;
        }

        #empty-icon {
            width: 6rem;
            height: 6rem;
            font-size: 6rem;
        }
    }
}