$theme-color: #3f51b5;

:host::ng-deep, mat-sidenav-container {
    height: 100%;
}

mat-toolbar {
    padding: 0 8px;

    .toggle-menu-button {
        margin-right: 8px;
        
        &.mat-button-toggle-checked {
            color: #fff;
            background-color: lighten($theme-color, 10%);
        }
    }

    .title {
        max-width: 50%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .spacer {
        flex-grow: 2;
    }
}

#sidenav {
    width: 15%;
    min-width: 150px;
    overflow-x: hidden;

    mat-list {
        padding-top: 0;
    }

    .mat-subheader {
        font-weight: bold;
    }

    #user-info::ng-deep .mat-list-item-content {
        padding-left: 0;
    }

    #user-image {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100px;
        width: 2.4rem !important;
        height: 2.4rem !important;
        color: white;
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: normal;
        margin: 0 0.3rem;
    }

    #lists-header {
        display: flex;
        flex-direction: row;
        align-items: center;

        > mat-icon {
            padding-right: 0.25rem;
            font-size: 22px;
            width: 22px;
            height: 22px;
        }
    }

    #add-list-item {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 0.5rem;
    }

    #add-list-button {
        border-radius: 100px;
    }
}

#sidenav-radio-group mat-radio-button {
    width: 100%;
    padding: 0;

    &::ng-deep .mat-radio-container {
        display: none;
    }

    &::ng-deep label {
        width: 100%;

        & .mat-radio-label-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.7rem;
            width: 90%;

            > .list-name {
                max-width: 90%;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
        }
    }

    &.mat-radio-checked {
        background: $theme-color;
        color: white;
        font-weight: bold;
    }
}

mat-list-item[hidden] {
    display: none !important;
}

#container {
    
    #empty-state {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 1.5em;
        color: #999;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        &[hidden] {
            display: none;
        }

        > * {
            padding-bottom: 0.2em;
        }

        #empty-icon {
            width: 6rem;
            height: 6rem;
            font-size: 6rem;
        }
    }
}