/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css";

// @angular/material style overrides


// Custom styles

html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-root > *:last-child {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.github-icon {
    background: url('assets/GitHub-Mark-Light-120px-plus.png') no-repeat center;
    background-size: contain;
    height: 24px;
    width: 24px;
}

app-banner {
    color: #3f51b5;
}